In [1]:
import pandas as pd
import numpy as np
from datetime import datetime

In [2]:
solar_df = pd.read_csv('data/Solar.csv')
print(solar_df.shape)
solar_df.head(10)

(526528, 3)

  DATE (MM/DD/YYYY)    CST  Global Horizontal [W/m^2]
0          1/1/2016  00:00                   -1.70260
1          1/1/2016  00:01                   -1.70260
2          1/1/2016  00:02                   -1.70260
3          1/1/2016  00:03                   -1.73097
4          1/1/2016  00:04                   -1.74800
5          1/1/2016  00:05                   -1.74232
6          1/1/2016  00:06                   -1.75367
7          1/1/2016  00:07                   -1.70260
8          1/1/2016  00:08                   -1.70260
9          1/1/2016  00:09                   -1.70827

In [3]:
hh_df = pd.read_csv('data/data_ws.csv')
print(hh_df.shape)
hh_df.head(15)

(95367, 7)

,dataid,localhour,city,use,temperature,cloud_cover,wind_speed
0,26,2016-01-01 00:00:00-06,Austin,0.527133,47.22,0.96,8.09
1,59,2016-01-01 00:00:00-06,Austin,2.531233,47.22,0.96,8.09
2,77,2016-01-01 00:00:00-06,Austin,0.540733,47.22,0.96,8.09
3,86,2016-01-01 00:00:00-06,Austin,0.500100,47.22,0.96,8.09
4,93,2016-01-01 00:00:00-06,Austin,0.595083,47.22,0.96,8.09
5,94,2016-01-01 00:00:00-06,Austin,0.859450,47.22,0.96,8.09
6,101,2016-01-01 00:00:00-06,Austin,0.191067,47.22,0.96,8.09
7,114,2016-01-01 00:00:00-06,Austin,0.842517,47.22,0.96,8.09
8,115,2016-01-01 00:00:00-06,Austin,0.144367,47.22,0.96,8.09
9,160,2016-01-01 00:00:00-06,Austin,0.442783,47.22,0.96,8.09
10,171,2016-01-01 00:00:00-06,Austin,0.460867,47.22,0.96,8.09
11,187,2016-01-01 00:00:00-06,Austin,0.947000,47.22,0.96,8.09
12,26,2016-01-01 01:00:00-06,Austin,0.463150,46.50,1.00,8.22
13,59,2016-01-01 01:00:00-06,Austin,2.801450,46.50,1.00,8.22
14,77,2016-01-01 01:00:00-06,Austin,0.426617,46.50,1.00,8.22

In [4]:
hh_df = hh_df[['dataid', 'localhour', 'use', 'temperature', 'cloud_cover','wind_speed']]
hh_df.head()

,dataid,localhour,use,temperature,cloud_cover,wind_speed
0,26,2016-01-01 00:00:00-06,0.527133,47.22,0.96,8.09
1,59,2016-01-01 00:00:00-06,2.531233,47.22,0.96,8.09
2,77,2016-01-01 00:00:00-06,0.540733,47.22,0.96,8.09
3,86,2016-01-01 00:00:00-06,0.500100,47.22,0.96,8.09
4,93,2016-01-01 00:00:00-06,0.595083,47.22,0.96,8.09

In [5]:
unique_dataid = np.unique(hh_df['dataid'])
hhids = list(unique_dataid)
print(hhids)

[26, 59, 77, 86, 93, 94, 101, 114, 115, 160, 171, 187]

In [6]:
df_by_hh = {}
for hhid in hhids:
    df_by_hh[hhid] = []

In [7]:
solar_df.columns = ['date', 'localhour', 'GH']
solar_df.head()

       date localhour       GH
0  1/1/2016     00:00 -1.70260
1  1/1/2016     00:01 -1.70260
2  1/1/2016     00:02 -1.70260
3  1/1/2016     00:03 -1.73097
4  1/1/2016     00:04 -1.74800

In [8]:
time_gh = {}

In [9]:
for index, row in solar_df.iterrows():
    date = row.date.split('/')
    if len(date[0]) < 2:
        date[0] = '0' + date[0]
    if len(date[1]) < 2:
        date[1] = '0' + date[1]
    time_str = '{}-{}-{} {}'.format(date[-1], date[0], date[1], row.localhour)
    time_gh[time_str] = row.GH

In [10]:
len(time_gh)

526528

In [11]:
hh_df.localhour[:10]

0    2016-01-01 00:00:00-06
1    2016-01-01 00:00:00-06
2    2016-01-01 00:00:00-06
3    2016-01-01 00:00:00-06
4    2016-01-01 00:00:00-06
5    2016-01-01 00:00:00-06
6    2016-01-01 00:00:00-06
7    2016-01-01 00:00:00-06
8    2016-01-01 00:00:00-06
9    2016-01-01 00:00:00-06
Name: localhour, dtype: object

In [12]:
hh_df['GH'] = 0.0
hh_df['is_weekday'] = 0
hh_df.iloc[-50000]

dataid                             94
localhour      2016-06-19 15:00:00-05
use                          0.730067
temperature                     91.47
cloud_cover                      0.29
wind_speed                       4.91
GH                                  0
is_weekday                          0
Name: 45367, dtype: object

In [13]:
used = ['localhour', 'use', 'temperature', 'cloud_cover', 'wind_speed', 'GH', 'is_weekday']

In [14]:
for index, row in hh_df.iterrows():
    try:
        row.GH = time_gh[row.localhour[:-6]]
        if row.localhour[-1] == '5':
            row.is_weekday = int(datetime.strptime(str(row.localhour), "%Y-%m-%d %H:%M:%S-05").weekday() < 5)
        else:
            row.is_weekday = int(datetime.strptime(str(row.localhour), "%Y-%m-%d %H:%M:%S-06").weekday() < 5)
        df_by_hh[row.dataid].append(row[used])
    except:
        print(row.localhour[:-6])

2016-10-13 02:00
2016-10-13 02:00
2016-10-13 02:00
2016-10-13 02:00
2016-10-13 02:00
2016-10-13 02:00
2016-10-13 02:00
2016-10-13 02:00
2016-10-13 02:00
2016-10-13 02:00
2016-10-13 03:00
2016-10-13 03:00
2016-10-13 03:00
2016-10-13 03:00
2016-10-13 03:00
2016-10-13 03:00
2016-10-13 03:00
2016-10-13 03:00
2016-10-13 03:00
2016-10-13 03:00
2016-10-13 04:00
2016-10-13 04:00
2016-10-13 04:00
2016-10-13 04:00
2016-10-13 04:00
2016-10-13 04:00
2016-10-13 04:00
2016-10-13 04:00
2016-10-13 04:00
2016-10-13 04:00
2016-10-13 05:00
2016-10-13 05:00
2016-10-13 05:00
2016-10-13 05:00
2016-10-13 05:00
2016-10-13 05:00
2016-10-13 05:00
2016-10-13 05:00
2016-10-13 05:00
2016-10-13 05:00
2016-10-13 06:00
2016-10-13 06:00
2016-10-13 06:00
2016-10-13 06:00
2016-10-13 06:00
2016-10-13 06:00
2016-10-13 06:00
2016-10-13 06:00
2016-10-13 06:00
2016-10-13 06:00
2016-10-13 07:00
2016-10-13 07:00
2016-10-13 07:00
2016-10-13 07:00
2016-10-13 07:00
2016-10-13 07:00
2016-10-13 07:00
2016-10-13 07:00
2016-10-13 07:00
2016-10-13 07:00
2016-10-13 08:00
2016-10-13 08:00
2016-10-13 08:00
2016-10-13 08:00
2016-10-13 08:00
2016-10-13 08:00
2016-10-13 08:00
2016-10-13 08:00
2016-10-13 08:00
2016-10-13 08:00
2016-10-13 09:00
2016-10-13 09:00
2016-10-13 09:00
2016-10-13 09:00
2016-10-13 09:00
2016-10-13 09:00
2016-10-13 09:00
2016-10-13 09:00
2016-10-13 09:00
2016-10-13 09:00
2016-10-13 10:00
2016-10-13 10:00
2016-10-13 10:00
2016-10-13 10:00
2016-10-13 10:00
2016-10-13 10:00
2016-10-13 10:00
2016-10-13 10:00
2016-10-13 10:00
2016-10-13 10:00
2016-10-13 11:00
2016-10-13 11:00
2016-10-13 11:00
2016-10-13 11:00
2016-10-13 11:00
2016-10-13 11:00
2016-10-13 11:00
2016-10-13 11:00
2016-10-13 11:00
2016-10-13 11:00
2016-10-13 12:00
2016-10-13 12:00
2016-10-13 12:00
2016-10-13 12:00
2016-10-13 12:00
2016-10-13 12:00
2016-10-13 12:00
2016-10-13 12:00
2016-10-13 12:00
2016-10-13 12:00
2016-10-13 13:00
2016-10-13 13:00
2016-10-13 13:00
2016-10-13 13:00
2016-10-13 13:00
2016-10-13 13:00
2016-10-13 13:00
2016-10-13 13:00
2016-10-13 13:00
2016-10-13 13:00
2016-10-13 14:00
2016-10-13 14:00
2016-10-13 14:00
2016-10-13 14:00
2016-10-13 14:00
2016-10-13 14:00
2016-10-13 14:00
2016-10-13 14:00
2016-10-13 14:00
2016-10-13 14:00
2016-10-13 15:00
2016-10-13 15:00
2016-10-13 15:00
2016-10-13 15:00
2016-10-13 15:00
2016-10-13 15:00
2016-10-13 15:00
2016-10-13 15:00
2016-10-13 15:00
2016-10-13 15:00
2016-10-13 16:00
2016-10-13 16:00
2016-10-13 16:00
2016-10-13 16:00
2016-10-13 16:00
2016-10-13 16:00
2016-10-13 16:00
2016-10-13 16:00
2016-10-13 16:00
2016-10-13 16:00
2016-10-13 17:00
2016-10-13 17:00
2016-10-13 17:00
2016-10-13 17:00
2016-10-13 17:00
2016-10-13 17:00
2016-10-13 17:00
2016-10-13 17:00
2016-10-13 17:00
2016-10-13 17:00
2016-10-13 18:00
2016-10-13 18:00
2016-10-13 18:00
2016-10-13 18:00
2016-10-13 18:00
2016-10-13 18:00
2016-10-13 18:00
2016-10-13 18:00
2016-10-13 18:00
2016-10-13 18:00
2016-10-13 19:00
2016-10-13 19:00
2016-10-13 19:00
2016-10-13 19:00
2016-10-13 19:00
2016-10-13 19:00
2016-10-13 19:00
2016-10-13 19:00
2016-10-13 19:00
2016-10-13 19:00
2016-10-13 20:00
2016-10-13 20:00
2016-10-13 20:00
2016-10-13 20:00
2016-10-13 20:00
2016-10-13 20:00
2016-10-13 20:00
2016-10-13 20:00
2016-10-13 20:00
2016-10-13 20:00
2016-10-13 21:00
2016-10-13 21:00
2016-10-13 21:00
2016-10-13 21:00
2016-10-13 21:00
2016-10-13 21:00
2016-10-13 21:00
2016-10-13 21:00
2016-10-13 21:00
2016-10-13 21:00
2016-10-13 22:00
2016-10-13 22:00
2016-10-13 22:00
2016-10-13 22:00
2016-10-13 22:00
2016-10-13 22:00
2016-10-13 22:00
2016-10-13 22:00
2016-10-13 22:00
2016-10-13 22:00
2016-10-13 23:00
2016-10-13 23:00
2016-10-13 23:00
2016-10-13 23:00
2016-10-13 23:00
2016-10-13 23:00
2016-10-13 23:00
2016-10-13 23:00
2016-10-13 23:00
2016-10-13 23:00
2016-10-14 00:00
2016-10-14 00:00
2016-10-14 00:00
2016-10-14 00:00
2016-10-14 00:00
2016-10-14 00:00
2016-10-14 00:00
2016-10-14 00:00
2016-10-14 00:00
2016-10-14 00:00
2016-10-14 01:00
2016-10-14 01:00
2016-10-14 01:00
2016-10-14 01:00
2016-10-14 01:00
2016-10-14 01:00
2016-10-14 01:00
2016-10-14 01:00
2016-10-14 01:00
2016-10-14 01:00
2016-10-14 02:00
2016-10-14 02:00
2016-10-14 02:00
2016-10-14 02:00
2016-10-14 02:00
2016-10-14 02:00
2016-10-14 02:00
2016-10-14 02:00
2016-10-14 02:00
2016-10-14 02:00
2016-10-14 03:00
2016-10-14 03:00
2016-10-14 03:00
2016-10-14 03:00
2016-10-14 03:00
2016-10-14 03:00
2016-10-14 03:00
2016-10-14 03:00
2016-10-14 03:00
2016-10-14 03:00
2016-10-14 04:00
2016-10-14 04:00
2016-10-14 04:00
2016-10-14 04:00
2016-10-14 04:00
2016-10-14 04:00
2016-10-14 04:00
2016-10-14 04:00
2016-10-14 04:00
2016-10-14 04:00
2016-10-14 05:00
2016-10-14 05:00
2016-10-14 05:00
2016-10-14 05:00
2016-10-14 05:00
2016-10-14 05:00
2016-10-14 05:00
2016-10-14 05:00
2016-10-14 05:00
2016-10-14 05:00
2016-10-14 06:00
2016-10-14 06:00
2016-10-14 06:00
2016-10-14 06:00
2016-10-14 06:00
2016-10-14 06:00
2016-10-14 06:00
2016-10-14 06:00
2016-10-14 06:00
2016-10-14 06:00
2016-10-14 07:00
2016-10-14 07:00
2016-10-14 07:00
2016-10-14 07:00
2016-10-14 07:00
2016-10-14 07:00
2016-10-14 07:00
2016-10-14 07:00
2016-10-14 07:00
2016-10-14 07:00
2016-10-14 08:00
2016-10-14 08:00
2016-10-14 08:00
2016-10-14 08:00
2016-10-14 08:00
2016-10-14 08:00
2016-10-14 08:00
2016-10-14 08:00
2016-10-14 08:00
2016-10-14 08:00
2016-10-14 09:00
2016-10-14 09:00
2016-10-14 09:00
2016-10-14 09:00
2016-10-14 09:00
2016-10-14 09:00
2016-10-14 09:00
2016-10-14 09:00
2016-10-14 09:00
2016-10-14 09:00

In [15]:
for i in hhids:
    print('\nProcessing data of household {}, {} samples in total.'.format(i, len(df_by_hh[i])))
    df = pd.DataFrame(data=df_by_hh[i], columns=used)
    print(df.head())
    df.to_csv('data/processed_hhdata_{}.csv'.format(i))

Processing data of household 26, 8747 samples in total.
                 localhour       use  temperature  cloud_cover  wind_speed  \
0   2016-01-01 00:00:00-06  0.527133        47.22         0.96        8.09
12  2016-01-01 01:00:00-06  0.463150        46.50         1.00        8.22
24  2016-01-01 02:00:00-06  0.497000        46.04         1.00        8.74
36  2016-01-01 03:00:00-06  0.498317        45.34         1.00        9.31
48  2016-01-01 04:00:00-06  0.445383        44.49         1.00        8.84

         GH  is_weekday
0  -1.70260           1
12 -1.65152           1
24 -1.70257           1
36 -1.91251           1
48 -2.39497           1

Processing data of household 59, 8747 samples in total.
                 localhour       use  temperature  cloud_cover  wind_speed  \
1   2016-01-01 00:00:00-06  2.531233        47.22         0.96        8.09
13  2016-01-01 01:00:00-06  2.801450        46.50         1.00        8.22
25  2016-01-01 02:00:00-06  2.373550        46.04         1.00        8.74
37  2016-01-01 03:00:00-06  2.680283        45.34         1.00        9.31
49  2016-01-01 04:00:00-06  2.465950        44.49         1.00        8.84

         GH  is_weekday
1  -1.70260           1
13 -1.65152           1
25 -1.70257           1
37 -1.91251           1
49 -2.39497           1

Processing data of household 77, 8747 samples in total.
                 localhour       use  temperature  cloud_cover  wind_speed  \
2   2016-01-01 00:00:00-06  0.540733        47.22         0.96        8.09
14  2016-01-01 01:00:00-06  0.426617        46.50         1.00        8.22
26  2016-01-01 02:00:00-06  0.443483        46.04         1.00        8.74
38  2016-01-01 03:00:00-06  0.440267        45.34         1.00        9.31
50  2016-01-01 04:00:00-06  0.434667        44.49         1.00        8.84

         GH  is_weekday
2  -1.70260           1
14 -1.65152           1
26 -1.70257           1
38 -1.91251           1
50 -2.39497           1

Processing data of household 86, 8747 samples in total.
                 localhour       use  temperature  cloud_cover  wind_speed  \
3   2016-01-01 00:00:00-06  0.500100        47.22         0.96        8.09
15  2016-01-01 01:00:00-06  0.544467        46.50         1.00        8.22
27  2016-01-01 02:00:00-06  0.501350        46.04         1.00        8.74
39  2016-01-01 03:00:00-06  0.464817        45.34         1.00        9.31
51  2016-01-01 04:00:00-06  0.473133        44.49         1.00        8.84

         GH  is_weekday
3  -1.70260           1
15 -1.65152           1
27 -1.70257           1
39 -1.91251           1
51 -2.39497           1

Processing data of household 93, 8747 samples in total.
                 localhour       use  temperature  cloud_cover  wind_speed  \
4   2016-01-01 00:00:00-06  0.595083        47.22         0.96        8.09
16  2016-01-01 01:00:00-06  0.481417        46.50         1.00        8.22
28  2016-01-01 02:00:00-06  0.331000        46.04         1.00        8.74
40  2016-01-01 03:00:00-06  0.342183        45.34         1.00        9.31
52  2016-01-01 04:00:00-06  1.024967        44.49         1.00        8.84

         GH  is_weekday
4  -1.70260           1
16 -1.65152           1
28 -1.70257           1
40 -1.91251           1
52 -2.39497           1

Processing data of household 94, 8591 samples in total.
                 localhour       use  temperature  cloud_cover  wind_speed  \
5   2016-01-01 00:00:00-06  0.859450        47.22         0.96        8.09
17  2016-01-01 01:00:00-06  0.889233        46.50         1.00        8.22
29  2016-01-01 02:00:00-06  0.903583        46.04         1.00        8.74
41  2016-01-01 03:00:00-06  0.879500        45.34         1.00        9.31
53  2016-01-01 04:00:00-06  0.801533        44.49         1.00        8.84

         GH  is_weekday
5  -1.70260           1
17 -1.65152           1
29 -1.70257           1
41 -1.91251           1
53 -2.39497           1

Processing data of household 101, 8747 samples in total.
                 localhour       use  temperature  cloud_cover  wind_speed  \
6   2016-01-01 00:00:00-06  0.191067        47.22         0.96        8.09
18  2016-01-01 01:00:00-06  0.170817        46.50         1.00        8.22
30  2016-01-01 02:00:00-06  0.179100        46.04         1.00        8.74
42  2016-01-01 03:00:00-06  0.165500        45.34         1.00        9.31
54  2016-01-01 04:00:00-06  0.187083        44.49         1.00        8.84

         GH  is_weekday
6  -1.70260           1
18 -1.65152           1
30 -1.70257           1
42 -1.91251           1
54 -2.39497           1

Processing data of household 114, 8747 samples in total.
                 localhour       use  temperature  cloud_cover  wind_speed  \
7   2016-01-01 00:00:00-06  0.842517        47.22         0.96        8.09
19  2016-01-01 01:00:00-06  0.705267        46.50         1.00        8.22
31  2016-01-01 02:00:00-06  0.687250        46.04         1.00        8.74
43  2016-01-01 03:00:00-06  0.826567        45.34         1.00        9.31
55  2016-01-01 04:00:00-06  3.976083        44.49         1.00        8.84

         GH  is_weekday
7  -1.70260           1
19 -1.65152           1
31 -1.70257           1
43 -1.91251           1
55 -2.39497           1

Processing data of household 115, 6721 samples in total.
                 localhour       use  temperature  cloud_cover  wind_speed  \
8   2016-01-01 00:00:00-06  0.144367        47.22         0.96        8.09
20  2016-01-01 01:00:00-06  0.210767        46.50         1.00        8.22
32  2016-01-01 02:00:00-06  0.122633        46.04         1.00        8.74
44  2016-01-01 03:00:00-06  0.319550        45.34         1.00        9.31
56  2016-01-01 04:00:00-06  0.128467        44.49         1.00        8.84

         GH  is_weekday
8  -1.70260           1
20 -1.65152           1
32 -1.70257           1
44 -1.91251           1
56 -2.39497           1

Processing data of household 160, 1012 samples in total.
                 localhour       use  temperature  cloud_cover  wind_speed  \
9   2016-01-01 00:00:00-06  0.442783        47.22         0.96        8.09
21  2016-01-01 01:00:00-06  0.432900        46.50         1.00        8.22
33  2016-01-01 02:00:00-06  0.616650        46.04         1.00        8.74
45  2016-01-01 03:00:00-06  0.515233        45.34         1.00        9.31
57  2016-01-01 04:00:00-06  1.506950        44.49         1.00        8.84

         GH  is_weekday
9  -1.70260           1
21 -1.65152           1
33 -1.70257           1
45 -1.91251           1
57 -2.39497           1

Processing data of household 171, 8747 samples in total.
                 localhour       use  temperature  cloud_cover  wind_speed  \
10  2016-01-01 00:00:00-06  0.460867        47.22         0.96        8.09
22  2016-01-01 01:00:00-06  0.394983        46.50         1.00        8.22
34  2016-01-01 02:00:00-06  0.377600        46.04         1.00        8.74
46  2016-01-01 03:00:00-06  0.446417        45.34         1.00        9.31
58  2016-01-01 04:00:00-06  0.443683        44.49         1.00        8.84

         GH  is_weekday
10 -1.70260           1
22 -1.65152           1
34 -1.70257           1
46 -1.91251           1
58 -2.39497           1

Processing data of household 187, 8747 samples in total.
                 localhour       use  temperature  cloud_cover  wind_speed  \
11  2016-01-01 00:00:00-06  0.947000        47.22         0.96        8.09
23  2016-01-01 01:00:00-06  1.001667        46.50         1.00        8.22
35  2016-01-01 02:00:00-06  0.943233        46.04         1.00        8.74
47  2016-01-01 03:00:00-06  0.979017        45.34         1.00        9.31
59  2016-01-01 04:00:00-06  1.023417        44.49         1.00        8.84

         GH  is_weekday
11 -1.70260           1
23 -1.65152           1
35 -1.70257           1
47 -1.91251           1
59 -2.39497           1